html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height:1.2em;
    height: 100%;
    margin: 0;
    min-height: 500px;
    overflow: hidden;
    padding: 0;
    color: #000;
}

a {
    text-decoration: none;
}

a {
    color: #707070;
}

#logo img {
    display: none;
}

#logo-text, #supporting-logo-text {
    font-size: 1.2em;
    font-weight: 100;
}

#logo-text, #supporting-logo-text {
    font-family: Impact, 'Oswald', sans-serif;
    font-weight: 400;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 20em;
}

#nav ul {
    list-style: none outside none;
}

#nav ul, #nav li, #logo {
    color: #666;
    float: left;
    margin: 0;
}

#nav h1 {
    float: left;
    margin: 0.8em;
    font-size: 1.5em;
}

#nav li {
    border-right: 1px solid #e9e9e9;
    display: block;
    line-height: 4em;
    text-transform: uppercase;
}

#nav li.first {
    border-left: 1px solid #e9e9e9;
}

#map {
    clear: left;
}

#nav {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.33);
    height: 4em;
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10000;
}

#nav-wrapper {
    margin: 0 auto;
    min-width: 62em;
    position: relative;
    text-align: center;
    width: 62em;
}

.link-wrapper {
    height: 3.7em;
    width: 100%;
    border-bottom: 0.3em solid transparent;
    display: block;
}

#nav a {
    padding: 0 2em;
}

#nav-home.active .link-wrapper, #nav-home:hover .link-wrapper {
    border-color: #c00;
}

#nav-services.active .link-wrapper, #nav-services:hover .link-wrapper {
    border-color: #0a0;
}

#nav-contact.active .link-wrapper, #nav-contact:hover .link-wrapper {
    border-color: #00a;
}

#map-wrapper {
    margin-top: 4em;
    height:100%;
}

#content .content {
    position: absolute;
    top: 5em;
    right: 1em;
    z-index: 10000;
    display: block;
    width: 40em;
    box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.33);
    border-radius: 1em 1em 1em 1em;
}

#content #content-home.content {
   left: 1em;
}

#content-home {
    background-color: #c00;
}

#content-services {
    background-color: #0a0;
}

#content-contact {
    background-color: #00a;
}

#not-found {
    background-color: #aaa;
}

#welin {
    background-color: #003366;
}

.title-wrapper {
    border-radius: 1em 1em 0em 0em;
    padding: 0.1em 1em;
}

.content-body {
    padding: 1em 1em;    
    border-radius: 0em 0em 0.5em 0.5em;
    background-color: #fff;
    line-height: 1.8em;
}

h2 {
    color: #fff;
}

h3 {
    padding: 0;
    margin: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

th, td {
    padding: 0.5em;
}

table, td {
    width: 100%;
}

th {
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
}

.bubble-title {
    padding: 1em 1em 0em 1em;
}

a.external {
    padding-left: 12px;
    background: url(../images/external-link-grey.png) left center no-repeat;
}

#content #content-contact {
    width: 30em;
}

.storm {
    background: url(../images/storm.jpg) no-repeat right top fixed;
    background-size: 100%;
    background-size: cover;
}
